body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.productos {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
}

button {
    background: black;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.form-container {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}